.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img{
  width:33%;
  height: 70%;
}
.panel{
  width:80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  background-color: black;
}
.user{
 background-color: whitesmoke;
}
.admin{
  background-color: whitesmoke;
}
.form{
  margin: auto;
  width:400px;
  height: 500px;
  background-color: black;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}
input{
  padding: 12px;
  margin: 20px;
}
button{
  width:150px;
  height: 30px;
  margin: 10%;
  background-color:blue;
  border: 2px solid blue;
  color: white;
}
p{
  
}

td, th{
  border: 1px solid #dddddd;
  text-align:center;
  padding: 2px;
  width:300px;
  background-color: white;
}
table{
 
  background-color:none;
}
.id{
  width:200px;
  height: 200px;
}
.detail{
display: flex;

text-align: left;
}
.info{
  border: 2px solid black;
display: flex;
flex-direction: row;
justify-content: space-around;
text-align: left;
}
.content{
  margin: 20px;
  padding: 10px;
}
h3{
  margin: 10px;
}
.photos{
  display: flex;
  flex-direction: row;
  overflow: auto;
}